.cards {
    padding: 4rem;
    background: #fff;

}

h1 {
    text-align: left;
    margin-left: 4rem;
    margin-top: 4rem;
    font-size: 35px;
    font-weight: 700;
}

.usrbntalgh{
    text-align: center;
    margin-left: 10px;
    margin-right: 80px;
}

.usrdetl {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #091A2B;
    font-size: 24px;
    color: #fff;
}

.tpara {
    text-align: justify;
    width: 500px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 100;
}

.cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: auto;
}

.cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.cards__item {
    display: flex;
    flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border-radius: 10px;
    border: 2px solid transparent;
}

.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    height: 200px;
    padding-top: 2px;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 30px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
}

.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.cards__item__img:hover {
    transform: scale(1.1);
}

.cards__item__info {
    padding: 20px 30px 30px;
}

.cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

@media only screen and (min-width: 1200px) {
    .content__blog__container {
        width: 84%;
    }
    
}

@media only screen and (min-width: 1024px) {
    .cards__items {
        display: flex;
        width: 100%;
    }

    .cards__container {
        margin-left: 40px;
    }
}

@media(max-width: 900px) {
    .cards__item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px;
    }
    
    .cards {
        padding: 1rem;
        background: #fff;
    }

    .tpara {
        text-align: justify;
        width: 100%;
        font-size: 13px;
        padding-right: 1rem;
        margin-left: 1rem;
        text-align: justify;
    }
    h1 {
        margin-left: 1rem;
    }
}
