.border {
  border: 1px solid black;
}


.inputList {
  display: flex;
  flex-direction: row;
  padding: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #2d5f92d9;
}

.inputSearch {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
}

.searchSpace {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  width: 100%;
}

.inputList .inputContainer {
  flex: 1;
  margin-left: 3%;
}
.inputContainer select {
  padding: 4% 5%;
  font-size: 14px;
  border-radius: 5px;
}
.inputContainer label {
  font-size: 19px;
  margin-bottom: 2%;
}




/* Customize the styling of homeScreen carousel here */
/* .carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
} */
/* 
.carousel-image img {
  max-width: 85%;
  max-height: 100%;
  height: 50%;
} */

@media screen and (max-width: 990px) {
  .social_img {
    width: 20% !important;
  }
}
@media screen and (max-width: 767px) {
  .social_img {
    width: 25% !important;
  }
  .inputList {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    font-size: smaller;
  }
  .social_img {
    width: 30% !important;
  }

  .social_img img {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: x-small;
  }
  .copyRight_txt {
    padding: 5% !important;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    font-size: xx-small;
  }
}
@media screen and (max-width: 330px) {
  .propertyType_cover {
    padding: 0 2%;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}


/* Style for the next and prev buttons */
.custom-prev-button {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  z-index: 1;

  font-size: 16px;
  color: white;
  background-color: none;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
}

.custom-next-button img {
  transform: scaleX(-1);
  transform-origin: center;
}
.custom-next-button {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  z-index: 1;


  font-size: 16px;
  color: white;
  background: none;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 0 10px;
  cursor: pointer;
}

.slide-image {
  padding: 0 3%;
  height: 200px; /* Set the desired fixed height */
  width: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
/* Styles for the slide overlay with absolute text */
.slide {
  position: relative;
}

.height {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 900px) {
  .custom-next-button {
    right: -8%;

  }
  .custom-prev-button {
  left: -8%;
  }

}
@media screen and (max-width: 600px) {
  .custom-next-button {
    right: -10%;

  }
  .custom-prev-button {
  left: -10%;
  }

}
@media screen and (max-width: 480px) {
  .custom-next-button {
    right: -12%;

  }
  .custom-prev-button {
  left: -12%;
  }

}


/* Loading spinner styles */
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #f33f3f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
