@media screen and (max-width: 600px) {

.footer{
    font-size: smaller;
}
}

@media screen and (max-width: 480px) {
    .footer{
        font-size:x-small ;
    }
}
@media screen and (max-width: 375px) {
    .footer{
        font-size:xx-small ;
    }
}