.border {
  border: 1px solid black;
}

.listContainer {
  display: flex;
  flex-direction: row;
}
.listContainer li {
  border: 1px solid white;
  color: white;
  flex: 1;
  text-align: center;
  padding: 2%;
}
.inputList {
  display: flex;
  flex-direction: row;
  padding: 3.5%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #2d5f92d9;
}
.inputList .inputContainer {
  flex: 1;
  margin-left: 3%;
}
.inputContainer select {
  padding: 4% 5%;
  font-size: 14px;
  border-radius: 5px;
}
.inputContainer label {
  font-size: 14px;
  margin-bottom: 2%;
}

@media screen and (max-width: 990px) {
  .social_img {
    width: 20% !important;
  }
}
@media screen and (max-width: 767px) {
  .social_img {
    width: 25% !important;
  }
  .inputList {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    font-size: smaller;
  }
  .social_img {
    width: 30% !important;
  }

  .social_img img {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: x-small;
  }
  .copyRight_txt {
    padding: 5% !important;
  }
}
@media screen and (max-width: 375px) {
  .footer {
    font-size: xx-small;
  }
}
@media screen and (max-width: 330px) {
  .propertyType_cover {
    padding: 0 2%;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
